.main-visual {
  background-image: url("../img/main-visual.jpg");
  background-size: cover;
  width: 100%;
  height: 950px;
  position: relative;
  &__sub-visual {
    width: 100%;
    position: absolute;
    bottom: calc((100vw / -8) + 1px);
    display: inline-block;
  }
}