@import "../mixin/section-header";

.header {
  position: fixed;
  z-index: 100;
  top: 0;
  right: 100px;

  &__tell {
    display: inline-block;
    color: $base-color;
    background-color: $accent-color;
    border-radius: 0 0 20px 20px;
    padding: 5px 10px;
    border:3px solid $base-color;
    box-shadow: #777 0 1px 10px;
    transition: 0.1s all;
    &:hover {
      color: $font-base-color;
      background-color: $base-color;
    }
  }

}