.icon {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    background-color: $base-color;
    width: 150px;
    text-align: center;
    line-height: 150px;
    transform: rotate(45deg);
  }

  &__img {
    vertical-align: middle;
    width: 100px;
    transform: rotate(-45deg);
  }
}