.non-grid-images {
  display: block;
  max-width: 600px;
  min-width: 300px;
  position: relative;
  &__image {
    width: 200px;
    height: 200px;
    object-fit: cover;
    &:nth-child(1) {
      position: absolute;
      top: 0;
      left: 50%;
    }
    &:nth-child(2) {
      position: absolute;
      bottom: 0;
      left: 0;
    }
    &:nth-child(3) {
      position: absolute;
      bottom: 0;
      right: 0;
    }
  }
}