.recruit {
  max-width: 1000px;
  display: flex;
  margin: auto;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: center;
  &__non-grid-images {
    width: 80vw;
    max-width: 600px;
  }
  &__detail {
    text-align: center;
    line-height: 1.7;
  }
  &__text {
    margin-bottom: 50px;
  }
  &__tell {
    display: inline-block;
    color: $base-color;
    background-color: $accent-color;
    padding: 10px 30px;
    border-radius: 100px;
    transition: 0.1s all;
    &:hover {
      color: $font-base-color;
      background-color: $base-color;
    }
  }
}