.section {
  padding: 100px 0;
  text-align: center;
  &--menu {
      background-image: url("../../img/menu_bg.png");
      background-size: cover;
      background-position: center center;
      font-size: 1rem;
      color: $base-color;
      line-height: 1.7;
    }
  &--recruit {
    background-image: url("../../img/recruit-bg.jpg");
    background-repeat: repeat;
    background-blend-mode: multiply;
    background-color: $base-color;
  }

  &__header {
    width: 200px;
    margin: 0 auto 80px auto;
    display: block;
    padding: 5px 40px;
    border: 3px solid;
    line-height: 1.7;

    &--white {
      border-color: #fff;
      color: #fff;
    }

    &--black {
      border-color: $font-base-color;
      color: $font-base-color;
    }
  }

}
