.shop {
  padding: 100px 0;
  color: $font-base-color;
  line-height: 1.8;
  &__catch-copy {
    text-align: center;
  }
  &__detail {
    margin: 0 auto;
    width: 90vw;
    max-width: 400px;
    text-align: left;
    line-height: 1.8;
  }
  &__name {
    font-size: 2em;
  }

}