.staff {
  display: inline-block;
  margin: 30px;
  line-height: 1.7;
  &--manager {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  &__detail-wrap {
    margin: 0 50px;
    max-width: 400px;
    &--manager {
      text-align: left;
    }
  }
  &__img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 100%;
  }
  &__position {
    display: block;
    color: $main-color;
    background-color: #000;
    border: 2px solid $main-color;
    border-radius: 100px;
    font-size: 0.8em;
    font-weight: bold;
    margin: 10px auto;
    &--manager {
      display: inline;
      padding: 0 20px;
    }
  }
  &__name {
    &--manager {
      text-align: left;
      display: inline;
    }
  }
}